.html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background: rgb(142, 142, 142);
  background: linear-gradient(
    0deg,
    rgba(142, 142, 142, 1) 0%,
    rgba(212, 212, 212, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow: hidden;
}
